.parentHome-pageHolder{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f0f1f3;
    gap:2px;
}

.parentHome-Sidebar{
    width: 20%;
}

.parentHome-content{
    flex: 1 1 auto;
}
